.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  min-height: 50px;
  padding: 1em;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-blurb {
  margin-left: 1em;
  margin-right: 1em;
}

.Authority {
  margin: 2em;
}

.Table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.TableUpdating {
  opacity: 0.2;
}

.Table table, th, td {
  border: 1px solid black;
}

td {
  padding: 0px;
}

.tableCell {
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
}

/* barGraphContainer uses position: absolute to fill paraent, so it's parent needs position: relative. */
td:has(> .barGraphContainer) {
  position: relative;
}

.barGraphContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.barGraph {
  background-color: bisque;
  transition: width 500ms;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.retrieved {
  margin: 1em;
  font-size: xx-small;
  color: lightgray
}

.cookieConsentLink {
  color: white
}