.app {
  text-align: center;
}

.app-header {
  background-color: #222;
  min-height: 50px;
  padding: 1em;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-blurb {
  margin-left: 1em;
  margin-right: 1em;
}

.authority {
  margin: 2em;
}

.table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.table-updating {
  opacity: 0.2;
}

.table table, th, td {
  border: 1px solid black;
}

td {
  /* Want the bar graph to fill the cells. */
  padding: 0;

  /* bar-graph-container uses position: absolute to fill paraent, so its parent needs position: relative. */
  position: relative;
}

.table-cell {
  text-align: right;
  padding-left: 1em;
  padding-right: 1em;
}

.bar-graph-container {
  position: absolute;
  inset: 0;
}

.bar-graph {
  background-color: bisque;
  transition: width 500ms;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.retrieved {
  margin: 1em;
  font-size: xx-small;
  color: lightgray
}

.cookie-consent-link {
  color: white
}